@import "../theme";

.Chinchon {
  display: flex;
  flex: 1 0 auto;

  & > .next {
    @include button;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 2rem;
    padding: 0;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  & > .column {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;

    &:not(:last-child) {
      border-right: 2px solid $main-color;
    }

    & > .name {
      font-size: 1.5rem;
      background-color: $main-color;
      color: $main-contrast;
      padding: .5rem;
      text-align: center;
      //border-top: 2px solid $second-color;
    }

    & > .line {
      padding: 0 .5rem;
      display: flex;

      & > .sum,
      & > .next {
        flex: 2 1 40%;
      }

      & > .plus {
        flex: 1 1 20%;
        text-align: center;
      }
      & > .next {
        text-align: right;
      }
      & > .negative {
        background-color: lightgray;
      }
    }

    & > .total {
      font-size: 1.5rem;
      background-color: $second-color;
      color: $second-contrast;
      text-align: center;
      margin-top: 2px;
    }

    &.lost {
      & > .name,
      & > .line {
        color: gray;
      }
      & > .total {
        background-color: gray;
        color: white;
      }
    }
  }

  & > .introduceModal {
    position: absolute;
    width: 100%;
    height: calc(100% -  #{$header-height});
    background-color: white;
    font-size: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem 0;

    & > input {
      font-size: 3rem;
      max-width: 100%;
      text-align: center;
      background: none;
      border: 2px solid gray;
      transition: border 300ms ease-in-out;
      outline: none;
      border-radius: 5px;
      &:focus {
        border-color: $second-color;
      }
    }
    & > .quick {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 3rem;
    }
    button {
      @include button;
      margin: 5px;
      font-size: 2rem;
    }
  }
}
