@import "../theme";

.Escoba {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  height: 100%;

  .data {
    flex: 1 1 auto;
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
    width: 100%;
    flex-wrap: wrap;

    & > .participant {
      display: flex;
      font-size: 1.75rem;
      background-color: $main-color;
      color: $main-contrast;
      padding: .25rem;
      border-radius: 6px;
      box-sizing: border-box;
      width: calc(50% - 4px);
      margin: 2px;

      & > div:first-child {
        padding: 0 .5rem;
        flex: 1 1 auto;
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      & > div:last-child {
        text-align: right;
        width: 2em;
        flex: 0 0 auto;
        padding-right: .5rem;
        background-color: white;
        color: black;
        border-radius: 0 3px 3px 0;
      }
    }
  }

  .input {
    width: 100%;
    text-align: center;
    flex: 0 0 auto;

    .adder {
      display: flex;
      flex-direction: row;
      width: 100%;
      $border: 2px solid $main-color;

      & > .header, & > .line {
        display: flex;
        flex-direction: column;

        border-left: $border;

        &:last-child {
          border-right: $border;
        }

        & > div {
          border-top: $border;

          &:last-child {
            border-bottom: $border;
          }

          display: flex;
          align-items: center;
          justify-content: center;

          flex: 1 0 3rem;

          &.escobas {
            //flex: 1 0 3rem;
            padding: 0 .5rem;

            .NumericInput {
              width: 100%;
            }
          }

          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          box-sizing: border-box;
        }
      }

      & > .header {
        flex: 1;

        & > div {
          font-size: 1rem;

          &:last-of-type {
            border-right: none;
          }
        }
      }

      & > .line {
        flex: 2;

        & > div {
          &:last-of-type {
            background-color: $main-color;
            color: $main-contrast;
          }

          &.checked {
            background-color: $second-color;
            color: $second-contrast;
          }
        }
      }
    }

    .actions {
      margin-top: .5rem;

      button {
        @include button;
        margin: 0 .5rem;
        &.add-btn > i {
          margin-right: 1em;
        }
      }
    }
  }
}
