$background: #eeeeee;

$main-color: #212121;
$main-contrast: #f0f0f0;
$second-color: #ffc400;
$second-contrast: #212121;

@mixin button {
  background-color: $main-color;
  color: $main-contrast;
  &.secondary {
    background-color: $second-color;
    color: $second-contrast;
  }

  padding: .6em;
  box-sizing: border-box;
  border: none;

  border-radius: 10px;
  font-size: 1.5rem;
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.3);
}
